#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.boton-ejecutar {
  background-color: gray; /* Color gris por defecto */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Estilos para el botón Ejecutar Pedido (estado presionado) */
.boton-ejecutar-pressed {
  background-color: lightgreen; /* Cambio a verde claro cuando se presiona */
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}